.logo-store img {
    max-height: 50px;
}


#checkout {
 display:none; 
 }

 @media (min-width: 992px){
 	
	.register_block .row .col-md-6 {
	    width: 49%!important;
float: none;
	    display: inline-block!important;
	}
 }
.copyright-left{
display:none!important;
}