<form action="<?php echo $action; ?>" method="post" id="okpay_checkout">
  <input type="hidden" name="ok_receiver" value="<?php echo $ok_receiver; ?>" />
  <input type="hidden" name="ok_return_success" value="<?php echo $ok_return_success; ?>" />
  <input type="hidden" name="ok_return_fail" value="<?php echo $ok_return_fail; ?>" />
  <input type="hidden" name="ok_ipn" value="<?php echo $ok_ipn; ?>" />
  <input type="hidden" name="ok_invoice" value="<?php echo $ok_invoice; ?>" />
  <input type="hidden" name="ok_currency" value="<?php echo $ok_currency; ?>" />
  <input type="hidden" name="ok_item_1_price" value="<?php echo $ok_item_1_price; ?>" />
  <input type="hidden" name="ok_item_1_name" value="<?php echo $ok_item_1_name; ?>" />
</form>
<div class="buttons">
	<div class="pull-right">
		<a id="button_confirm" onclick="" class="btn btn-primary"><span><?php echo $button_confirm; ?></span></a>
	</div>
</div>
<script>
	$(function(){
		$('#button_confirm').bind('click',function(){
			$('#okpay_checkout').submit();
		});
		
	});
</script>

